/* mobile */
@media (max-width: 890px) {
  .logo-timeline {
    display: none;
  }

  .logout-btn {
    display: flex;
    float: right;
    border: none;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background: transparent;
  }

  .container-main {
    width: 100%;
  }

  .container-post {
    width: 100%;
    display: flex;
  }

  .img-profile {
    background-color: rgb(151, 182, 218);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-left: 3rem;
    margin-right: 1rem;
  }

  .post-publish {
    display: flex;
    border: none;
    width: 100%;
    background-color: unset;
    margin-top: 1rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
  }

  .post-publish:focus {
    outline: none;
  }

  .post-publish::placeholder {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
  }

  .container-btn {
    float: right;
  }

  .publish-btn,
  .btn-add-img {
    border: none;
    background: transparent;
  }

  .publish-btn {
    padding-right: 1rem;
    margin-left: 1rem;
  }

  .btn-add-img-icon {
    padding-top: 1rem;
  }

  .linha-um {
    width: 100%;
    height: 1px;
    background-color: #acdcee;
    margin-top: 0.5rem;
  }

  .linha-dois {
    width: 100%;
    height: 1px;
    background-color: #acdcee;
    margin-top: 4rem;
  }

  /* template dos posts mobile */
  .container-posts-feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-profile-post {
    background-color: rgb(151, 182, 218);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin-left: -5rem;
    position: absolute;
    margin-top: 1rem;
  }

  .user-name {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    margin-right: 13rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    color: rgb(14, 58, 78);
  }

  .user-name::after {
    content: "";
    display: block;
    width: 4rem;
    height: 4px;
    background-color: #5badca;
    margin-left: 2rem;
    border-radius: 10px;
  }

  .post-published {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    background: #f0fbff;
    box-shadow: 0 0 10px #acdcee70;
    width: 15rem;
    height: 8rem;
    padding: 1rem;
    margin-top: 1rem;
  }

  .container-footer-feed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .btn-like,
  .btn-comment,
  .btn-delete,
  .btn-edit {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .btn-like:hover,
  .btn-comment:hover,
  .btn-delete:hover,
  .btn-edit:hover {
    transform: scale(1.1);
  }

  .btn-like {
    margin-right: 1rem;
  }

  .number-likes {
    font-family: "Roboto", sans-serif;
    font-size: .9rem;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(14, 58, 78);
  }

  .btn-delete {
    margin-left: 1rem;
    margin-top: -3rem;
  }

  .container-btns-left {
    margin-right: 10rem;
  }

  .modal-delete {
    display: none;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 10rem;
    padding: 20px;
    text-align: center;
    background-color: #003b4e;
    border-radius: 10px;
    box-shadow: 0 0 3px #8faab462;
    color: aliceblue;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: animate;
    animation-duration: 0.5s;
  }

  @keyframes animate {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .modal-delete-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-delete-text {
    font-family: "Roboto", sans-serif;
    font-size: .9rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }

  .modal-delete-btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-modal-delete,
  .btn-modal-cancel {
    border: none;
    background: rgb(47, 99, 148);
    cursor: pointer;
    transition: all 0.2s ease-in;
    color: #ffffff;
    margin-top: 2rem;
    width: 5rem;
    height: 2rem;
  }

  .btn-modal-delete:hover,
  .btn-modal-cancel:hover {
    transform: scale(1.1);
  }

  .btn-modal-delete {
    margin-right: 2rem;
  }
}

/* desktop */

@media screen and (min-width: 769px) {
  .container-header {
    display: flex;
    justify-content: space-between;
  }

  .logo-timeline {
    margin-left: 1rem;
    margin-top: 1rem;
    width: 15.75rem;
  }

  .logout-btn {
    display: flex;
    float: right;
    border: none;
    padding: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background: transparent;
    cursor: pointer;
  }

  .logout-icon {
    transition: all 0.2s ease-in-out;
  }

  .logout-icon:hover {
    transform: scale(1.1);
  }

  .container-main {
    width: 100%;
  }

  .container-post {
    display: flex;
    margin-top: -5rem;
    margin-left: 6rem;
    justify-content: center;
    align-items: center;
  }

  .img-profile {
    background-color: rgb(151, 182, 218);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin-left: -5rem;
    position: absolute;
    margin-top: -7rem;
  }

  .post-publish {
    display: flex;
    border: none;
    width: 50%;
    margin-bottom: 1rem;
    background-color: unset;
    margin-top: 1rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    transition: all 0.4s ease-in-out;
  }

  .post-publish:focus {
    outline: none;
    box-shadow: 0 0 10px #acdcee70;
  }

  .post-publish::placeholder {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
  }

  .container-btn {
    display: flex;
    margin-left: 15rem;
    padding-top: -3rem;
    justify-content: center;
    align-items: center;
  }

  .publish-btn,
  .btn-add-img {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .publish-btn:hover,
  .btn-add-img:hover {
    transform: scale(1.1);
  }

  .publish-btn {
    padding-right: 1rem;
    margin-left: 1rem;
  }

  /* template dos posts desktop */
  .container-posts-feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-profile-post {
    background-color: rgb(151, 182, 218);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin-left: -5rem;
    position: absolute;
    margin-top: 1rem;
  }

  .user-name {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    margin-right: 13rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    color: rgb(14, 58, 78);
  }

  .user-name::after {
    content: "";
    display: block;
    width: 4rem;
    height: 4px;
    background-color: #5badca;
    margin-left: 3rem;
    border-radius: 10px;
  }

  .post-published {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    background: #f0fbff;
    box-shadow: 0 0 10px #acdcee70;
    width: 20rem;
    height: 8rem;
    padding: 1rem;
    margin-top: 1rem;
  }

  .container-footer-feed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .btn-like,
  .btn-comment,
  .btn-delete,
  .btn-edit {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .btn-like:hover,
  .btn-comment:hover,
  .btn-delete:hover,
  .btn-edit:hover {
    transform: scale(1.1);
  }

  .btn-like {
    margin-right: 1rem;
  }

  .number-likes {
    font-family: "Roboto", sans-serif;
    font-size: .9rem;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(14, 58, 78);
  }

  .btn-delete {
    margin-left: 1rem;
    margin-top: -3rem;
  }

  .container-btns-left {
    margin-right: 10rem;
  }

  .modal-delete {
    display: none;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 12rem;
    padding: 20px;
    background-color: #003b4e;
    border-radius: 10px;
    box-shadow: 0 0 3px #8faab462;
    color: aliceblue;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: animate;
    animation-duration: 0.5s;
  }

  @keyframes animate {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .modal-delete-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-delete-text {
    font-family: "Roboto", sans-serif;
    font-size: .9rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }

  .modal-delete-btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-modal-delete,
  .btn-modal-cancel {
    border: none;
    background: rgb(47, 99, 148);
    cursor: pointer;
    transition: all 0.2s ease-in;
    color: #ffffff;
    margin-top: 2rem;
    width: 5rem;
    height: 2rem;
  }

  .btn-modal-delete:hover,
  .btn-modal-cancel:hover {
    transform: scale(1.1);
  }

  .btn-modal-delete {
    margin-right: 2rem;
  }
}
